<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Frequently Asked Questions</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />

<link rel="stylesheet" href="/css/main.css" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h1>Frequently Asked Questions</h1>
	</div>
	<div th:replace="fragments/footer :: footer"></div>	
</body>
</html>
